<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Repository Package Artifacts (Release)" value="artifacts/packages/Release/" />
    <add key="Repository Package Artifacts (Debug)" value="artifacts/packages/Debug/" />
  </packageSources>
</configuration>
