<?xml version="1.0"?>
<configuration>

  <!--
    Version for .NET.

    The `<system.diagnostics>` section is not preregistered,
    and must be declared in `<configSections>` before use.
  -->

  <configSections>
    <section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler" />
  </configSections>

  <system.diagnostics>

    <!--
    <trace autoflush="true" />
    <sources>
      <source name="Default" switchValue="All">
        <listeners>
          <add name="default" type="Framework.Logging.Tests.TraceLoggerTests+Listener, Framework.Tests" initializeData="defaultrule" />
        </listeners>
      </source>
      <source name="Framework.Logging.Tests.TraceLoggerTests" switchValue="All">
        <listeners>
          <add name="tests" type="Framework.Logging.Tests.TraceLoggerTests+Listener, Framework.Tests" initializeData="testsrule" />
        </listeners>
      </source>
      <source name="Framework.Configuration" switchValue="All">
        <listeners>
          <add name="config" type="Framework.Logging.Tests.TraceLoggerTests+Listener, Framework.Tests" initializeData="configrule" />
        </listeners>
      </source>
    </sources>
    -->

  </system.diagnostics>

</configuration>
